Repository nephio-project/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: pre-submit-test-infra-validate-local, e2e, presubmit-test-inrepoconfig-validate-job

Path conditions:
  pre-submit-test-infra-validate-local: any of: ^prow/config/((plugins|config).yaml|jobs/)
  e2e: any of: E2E_instance.txt
  presubmit-test-inrepoconfig-validate-job: any of: .prow.yaml|.prow/

Add condtionals on gtp5g loading
  e2e/provision/gce_run.sh
Due: none

Add condtionals on gtp5g loading (#32)
  e2e/provision/gce_run.sh
Due: none

enabling prow for kpt-backstage-plugins
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

enabling prow for kpt-backstage-plugins (#33)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Enable image build for kpt-backstage-plugins
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Image builds for nephio repository
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Image building - cleanup, fixes for nfdeploy-fn
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Image building for nephio repository (#36)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding gcsweb browser
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Bootstrap ansible role creation
  e2e/provision/.ansible-lint
  e2e/provision/.yaml-lint.yml
  e2e/provision/gce_run.sh
  e2e/provision/nephio.yaml
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/converge.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/prechecks.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
  e2e/provision/test-requirements.in
  e2e/provision/test-requirements.txt
  e2e/provision/tox.ini
Due: none

Adding gcsweb browser (#37)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding two more image builds
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Update prow/config/config.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Adding two more image builds (#38)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

adding dnn-fn image build
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

fixed typo in config.yaml
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

adding dnn-fn image build (#39)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Change lgtm behaviour
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Change lgtm behaviour (#40)
  prow/config/plugins.yaml
Due: pre-submit-test-infra-validate-local

Bootstrap ansible role creation (#35)
  e2e/provision/.ansible-lint
  e2e/provision/.yaml-lint.yml
  e2e/provision/gce_run.sh
  e2e/provision/nephio.yaml
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/bootstrap/README.md
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/converge.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/prechecks.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
  e2e/provision/test-requirements.in
  e2e/provision/test-requirements.txt
  e2e/provision/tox.ini
Due: none

Update OWNERS
  OWNERS
Due: none

Create install ansible role
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/molecule/default/converge.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/tox.ini
Due: none

switching from IP to FQDN
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

Create install ansible role (#41)
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/roles/install/README.md
  e2e/provision/playbooks/roles/install/molecule/default/converge.yml
  e2e/provision/playbooks/roles/install/molecule/default/molecule.yml
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/tox.ini
Due: none

switching from IP to FQDN (#42)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

add latest tag to free5gc-operator image
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

add latest tag to free5gc-operator image (#44)
  prow/config/config.yaml
Due: pre-submit-test-infra-validate-local

add support for installing nonKIND cluster via kubeadm
  e2e/provision/deploy_kubeadm_k8s.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-Debian.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/kubeadm-RedHat.yaml
  e2e/provision/roles/deploy_kubeadm_k8s/tasks/main.yaml
  e2e/provision/vars/kubeadm.yaml
Due: none

Separate gitea services
  e2e/provision/playbooks/roles/bootstrap/defaults/main.yml
  e2e/provision/playbooks/roles/bootstrap/molecule/default/tests/test_default.py
  e2e/provision/playbooks/roles/bootstrap/tasks/gitea.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/mgmt.yml
  e2e/provision/playbooks/roles/install/defaults/main.yml
  e2e/provision/playbooks/roles/install/molecule/default/prepare.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
Due: none

testing e2e
  E2E_instance.txt
Due: e2e

Fix prow execution
  .prow.yaml
  E2E_instance.txt
  e2e/terraform/main.tf
Due: e2e, presubmit-test-inrepoconfig-validate-job

Fix prow execution (#50)
  .prow.yaml
  E2E_instance.txt
  e2e/terraform/main.tf
Due: e2e, presubmit-test-inrepoconfig-validate-job

Add instructions to deploy free5gc workload
  e2e/provision/Vagrantfile
  e2e/provision/gce_run.sh
  e2e/provision/nephio.yaml
  e2e/provision/playbooks/cluster.yml
  e2e/provision/playbooks/free5gc.yml
  e2e/provision/playbooks/roles/bootstrap/tasks/main.yml
  e2e/provision/playbooks/roles/install/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/main.yml
  e2e/provision/playbooks/roles/kpt/tasks/wait_deployments.yml
  e2e/terraform/main.tf
Due: none

Create lichen.yaml
  images/gotests/lichen.yaml
Due: none

e2e daily job
  .prow.yaml
Due: presubmit-test-inrepoconfig-validate-job

randomzing e2e vm name
  e2e/terraform/main.tf
Due: none
